<body>
    <div style="margin-top: 50px;">
        <div class="container">
            <button type="button" style="padding: 0; border: none; background: none;"> < Back to Products</button>
            <hr>
            <p>Shipping Cart</p>
            <p>You have 0 items left in your cart</p>
            <div></div>

            <p style="text-align:left;"> SUBTOTAL $0</p>
            <div>
                <button type="button" class="btn btn-primary">Process Check Out</button>
            </div>
        </div>
    </div>
</body>