   <section class="banner">
    <div class="banner-content container">
      <div class="row">
        <div class="col">
          <h1>Welcome To Our <br><span class="highlight">eShop World</span></h1>
          <p>eShop is the buying and selling of goods and services, or the transferring of funds or data, over an electronic network, primarily the internet.</p>
        </div>
        <div class="col">
          <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTO936mhCmmAVEWnVjYlHe9lEtO9vJWo2A4jJyGgengLBdnKpeJ" alt="Illustration" class="banner-image" />
        </div>
      </div>
    </div>
  </section>
  <section class="promo-box">
    <div class="promo-content">
      <h3>Promo Box</h3>
      <p>UP TO</p>
      <h2>20% OFF</h2>
      <p>Get 20% off on all winter clothing items.</p>
      <input type="button" value="Shop Now" (click)="navigateToProduct()" class="btn">
    </div>
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRsyY6urb4CJ0vZdFnyVEeMoEuNhjU7UQr4Ne0MvxMnVzAscQ_l" alt="Promo Illustration" class="promo-image" />
  </section>
